---
import HeaderLink from "./HeaderLink.astro";
---

<header class="py-6">
  <nav>
    <div class="flex gap-6">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/personal">Personal</HeaderLink>
    </div>
  </nav>
</header>
